songs { 
     color: #040F3D; 
     background-color : #C6C4C5; 
     width: 100%; 
     text-align: center;
} 
heading { 
     color: #040F3D; 
     font-size : 40px; 
     background-color : #4BFFA5; 
} 
 heading, title, artists, artist, genre, year { 
     display : block; 
} 
title { 
     font-size : 25px; 
     font-weight : bold; 
} 
